<section>
<h1>Blogroll</h1>
<ul>
    <li><a href="http://wilburding.github.com/">Wilbur Ding's Blog (Chinese)</a></li>
    <li><a href="http://joshlamar.com/">Music blog of Josh LaMar</a></li>
    <li><a href="https://tanglao.me/">Tang's Blog (Chinese)</a></li>
    <li><a href="http://www.zhizhihu.com/">丕子</a></li>
    <li><a href="http://qingfeng.github.com/">清风のBlog</a></li>
    <li><a href="http://cnborn.net/">CNBorn--Dharma's truth</a></li>
    <li><a href="http://www.neugls.info/">Neugls Work Studio</a></li>
    <li><a href="http://liluo.org/">落</a></li>
    <li><a href="http://zhangchi.de/">把日子写成歌</a></li>
    <li><a href="http://bevin.co.nr/">Bevin's Blog</a></li>
    <li><a href="http://yongyule.com/">永遇乐</a></li>
</ul>
</section>
